---
import { Icon } from 'astro-icon'
---
<header>
    <!-- Icons: https://icones.js.org/collection/fluent?s=globe -->
    <div class="flex justify-between">
        <div class="flex items-center cursor-pointer" id="tag-back">
            <div class="w-14"><Icon name="fluent:chevron-left-16-filled" /></div>
            <span class="max-sm:hidden"></span>
        </div>
        <nav class="flex items-center relative md:right-12">
            <a href="/" class="border-b-2 border-black mx-3 min-w-[150px] text-center leading-10 flex items-center justify-center transition cursor-pointer hover:border-pink-800">
                <div class="w-8"><Icon name="fluent:globe-24-regular"/></div><p>UI Design</p>
            </a>
            <a href="/other" class="border-b-2 border-black mx-3 min-w-[150px] text-center leading-10 flex items-center justify-center transition cursor-pointer hover:border-emerald-600">
                <div class="w-8"><Icon name="fluent:image-multiple-28-filled"/></div><p>Other</p>
            </a>
        </nav>
        <div class="w-9 relative top-2 right-2 transition cursor-pointer" onclick="document.body.classList.toggle('dark')"><Icon name="fluent:weather-moon-28-filled" /></div>
    </div>
    <script>
        let res = "";
        if (document.referrer === 'https://klubuntu.eu.org' || document.referrer === 'http://klubuntu.eu.org' 
        || document.location.hostname === 'https://klubuntu.me' || document.location.hostname === 'http://klubuntu.me') {
            res = 'Back to Portfolio';
        }
        else{
            res = "Back to Previous Site"
        }
        document.querySelector("#tag-back span").innerText = res;
        document.querySelector("#tag-back").addEventListener("click", function(){
            history.back();
        })
    </script>
</header>