---
const {id, open} = Astro.props;
---
<style>
dialog {
	position: fixed;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-left: 5px;
	border-radius: 12px;

}
dialog::backdrop {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgb(33 31 31 / 60%)
}
</style>

<dialog id={id} >
  <form method="dialog">
    <slot name="close" />
  </form>
  <slot name="main" />
</dialog>